/*

StartupOKLM Site CSS

*/

    :root {
        --color-text-default: #000 !important;
        --transition: all .2s ease-in-out !important;
    }

    /* Fade in animation */
body {
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}
h1, h2, h3,
.notion-column-list,
.notion-collection,
.notion-divider {
    -webkit-animation: fadeInUp 1s !important;
    -moz-animation: fadeInUp 1s !important;
    animation: fadeInUp 1s !important;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@-moz-keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@-webkit-keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }

/* Always show the page title */
.notion-navbar a[href="/"] {
    display: flex !important;
}

/* Navbar */
.notion-navbar {
    background: #FFFFFF !important;
    height: var(--navbar-height) !important;
    box-shadow: none !important;
    position: fixed !important;
}
.notion-navbar>a { padding: 0 !important; }
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title { overflow: visible !important; }
.notion-quote {
    padding: 0 var(--padding-right) 0 0 !important;
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    align-items: center !important;
    position: fixed !important;
    font-size: 22px !important;
    z-index: 9999 !important;
    display: flex !important;
    border: none !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

    /* Hide certain elements */
    #page-index .header__content,
    a#block-test {
        display: none !important;
    }

    /* Change default container width */
    .max-width {
        padding-bottom: 60px !important;
        max-width: 1100px !important;
    }

    /* Transition for gallery cards */
    .notion-collection-card {
        transition: var(--transition) !important;
    }

    /* Gallery cards hover effect */
    .notion-collection-card:hover {
        transform: scale(1.02) !important;
    }

    /* Gallery cards click effect */
    .notion-collection-card:active {
        transform: scale(1) !important;
    }

    /* Gallery card cover height */
    .notion-collection-card__cover,
    .notion-collection-card__cover div,
    .notion-collection-card__cover img {
        max-height: 280px !important;
    }

    .notion-callout {
        border-radius: 100px !important;
        position: relative !important;
        padding: 16px 24px !important;
        border: none !important;
        width: max-content;
    }

    .notion-callout a {
        padding: 2px 0 0 0 !important;
        align-items: center !important;
        font-weight: 600 !important;
        display: flex !important;
        border: none !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }

    /* Heading 1 styles */
    #page-index h1 {
        letter-spacing: -1px !important;
        line-height: 1.2 !important;
        font-weight: 700 !important;
        font-size: 64px !important;
        max-width: 90% !important;
    }

    /* Decrease heading size on mobile */
    @media (max-width: 600px) {
        #page-index h1 {
            max-width: 100% !important;
            font-size: 40px !important;
        }
    }
    